<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90ZJ0G588M"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-90ZJ0G588M');
    </script>

    {{!--
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>

<body>
    <header>
        <nav>
            <div class="logo-div">
                <a href="/"> <img class="logo" src="/images/RAClogo_white.svg" /></a>
            </div>
            <ul class="menu">
                <li class="item has-submenu">
                    <a tabindex="0">2023 SERIES</a>
                    <ul class="submenu">
                        <li class="subitem first-item">
                            <a href=" /about">ABOUT</a>
                        </li>
                        <li class="subitem">
                            <a href=" /guidelines">GUIDELINES</a>
                        </li>
                        <li class="subitem">
                            <a href=" /sponsors">SPONSORS</a>
                        </li>
                        <li class="subitem">
                            <a href="/bikeroutes">BIKE ROUTES</a>
                        </li>
                        <li class="subitem">
                            <a href="/leaderboard">LEADERBOARD</a>
                        </li>
                    </ul>
                </li>
                {{#if user}}
                <li class="item"><a href="/dashboard">DASHBOARD</a></li>
                {{/if}}
                {{#if user.isAdmin}}
                <li class="item has-submenu">
                    <a tabindex="0">ADMIN</a>
                    <ul class="submenu">
                        <li class="subitem first-item">
                            <a href="/admin/approvals">APPROVALS</a>
                        </li>
                        <li class="subitem">
                            <a href="/admin/create-route">CREATE ROUTE</a>
                        </li>
                    </ul>
                </li>
                {{/if}}

                <li class="item">{{#if user}}<button id="logout" class="btn-no-style">LOG OUT</button>
                    {{else}}
                    <a href="/login">LOG IN</a>
                    {{/if}}
                </li>

            </ul>
            <span class="toggle"><a href="#"><i class="fas fa-bars"></i></a></span>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Hero -->
    <div class="hero">
        <div id="site-logo">
            <img src="/images/RAClogo_circletext.svg" />
        </div>
    </div>
    <!-- End Hero -->

    <!-- Main Section -->
    <main>
        {{{ body }}}
        <img src="/images/arrow-up-icon.svg" alt="Arrow Up Icon" id="goToTop" onclick="topFunction()">
    </main>
    <!-- End Main -->
    <footer>
        <div>
            <a href="https://ridewithgps.com/users/5525439" target="_blank"><img src="/images/ridewithgps_black.svg" alt="Instagram Logo"></a>
            <a href="https://www.strava.com/clubs/redwoodadventurecycling" target="_blank"><img src="/images/strava_black_logo.svg" alt="Strava Logo"></a>
            <a href="https://www.instagram.com/redwoodadventurecycling/" target="_blank"><img src="/images/insta_logo_black.svg" alt="Instagram Logo"></a>
        </div>
    </footer>

    <script src="/javascript/nav.js"></script>
    <script src="/javascript/gototop.js"></script>
    {{#if user}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>