<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Adventure Series</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <!--Header-->
    <header>

        <nav id="subnav">
            <div id="subnav-cont">
                <ul id="nav-links">
                    <li><img class="race-icon" src="images/bicycle-race-1.png" /></li>
                    <li><a href="#" class="subnav-link">homepage</a></li>
                    <li><a href="#" class="subnav-link">dashboard</a></li>
                    <li><a href="#" class="subnav-link">bike routes</a></li>
                    <li><a href="#" class="subnav-link">guidelines</a></li>
                    <li><a href="#" class="subnav-link">leaderboard</a></li>
                    <li><a href="#" class="subnav-link">admin</a></li>
                    <!-- <li><a href="#" class="subnav-link">login</a></li> -->
                    <li><button id="logout" class="btn-no-style">logout</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--End Header-->
    <!--Hero-->
    <div class="hero">
        <div id="site-logo">
            <h1>The Adventure Series</h1>
        </div>
    </div>
    <main>
        <div class="form-container">
            <H2>Login</H2>
            <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">login</button>
                </div>
            </form><br>
            <h3>OR</h3>
            <h2>Sign up</h2>
            <form class="signup-form">
                <div>
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="email-signup">email:</label>
                    <input type="text" id="email-signup" />
                </div>
                <div>
                    <label for="password-signup">password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <label for="password-signup">password:</label>
                </div>
                <div>
                    <button type="submit">signup</button>
                </div>
            </form>
        </div>
    </main>
    <!--End Main-->

    <footer>

    </footer>

</body>

</html>