<h2>About the {{year}} Adventure Series</h2>

<section class="opener">
    <p>What is the Adventure Series? It is
        a curated, self-guided cycling series designed for those seeking adventure along the trails and roads less traveled in
        and around Humboldt County, California. The series allows you to explore breathtaking, and tough routes at your leisure,
        learn about the area, take stunning photos, collect points, and win prizes! Best of all - it's completely free.</p>
</section>

<article>
    <img class="pretty-images" src="/images/Kneeland_crew.jpg"
        alt="Cyclists riding up paved road with fields in the background" />
    <h4>Who Can Participate?</h4>
    <p>Anyone with a bike and sense of adventure! The only requirement is you must have a Strava account (free account is fine) which will be used to log
        into this site, collect user information, and to verify route completion. You don't need to be a member of our <a href="https://www.strava.com/clubs/1089586" target="_blank">Strava Club</a>, but it's a great place to get series updates, connect with fellow riders, and join group rides.</p>
</article>

<article>
    <h4>When is it?</h4>
    <p>The 2025 Adventure Series runs from February through November. You'll have until the end of November to complete the
        routes, with overall series winners announced in December. Route-submission prizes will be awarded throughout the series. Let's have a party!</p>
</article>

<article>
    <h4>What Are the Routes?</h4>
        <p>
        For 2025, we’re mixing things up! Instead of requiring full routes, participants will design their own routes around 15 selected Strava segments. The minimum required distance is the length of the segment itself, but your total points will be based on ride length and elevation gain—the farther you ride and the more you climb, the more points you earn.
    </p>
    <p>
        While most segments will be located in Humboldt, some will require a bit more travel. We want to inspire exploration! To embrace all types of cycling, the selected segments will include a mix of road, gravel, and singletrack mountain bike trails.  
    </p>
    <p>
        Need help planning routes? Check out our <a href="https://ridewithgps.com/users/5525439" target="_blank">Ride with GPS</a> account for inspiration, connect with fellow cyclists in the <a href="https://www.strava.com/clubs/redwoodadventurecycling" target="_blank">Strava Club</a>, or <a href="mailto:info@redwoodadventurecycling.com">email us</a> for suggestions.
    </p>
</article>

<article>
    <h4>How Does the Series Work?</h4>
    <p>It's Simple! Ride a segment (recorded on Strava), sign in to the <a href="/login">RAC website</a>, then submit your ride using the Submit form on your Dashboard. All completed routes will appear in your Dashboard, and the leaderboard will display rankings and scores for all participants. Want to see how how you stack up? Use the leaderboard filter to compare within your category. For full details please visit the <a href="/guidelines">Guidelines page</a>.</p>
</article>