<h2>About the 2024 Adventure Series</h2>
<section class="opener">
    <p>Welcome to the 2024 Redwood Adventure Cycling (RAC) Adventure Series. What is the Adventure Series? It is
        a curated, self-guided cycling series for those seeking adventure along the trails and roads less traveled in
        and around Humboldt County, California. The Adventure Series allows you to ride amazing routes at your leisure,
        learn about the area, take beautiful photos, collect points, and win prizes! And the best part - it's completely free.</p>
</section>

<article>
    <img class="pretty-images" src="/images/Kneeland_crew.jpg"
        alt="Cyclists riding up paved road with fields in the background" />
    <h4>Who Can Participate?</h4>
    <p>Anyone with a bike and sense of adventure! The only requirement is you must have a Strava account (free account is fine) which will be used to log
        into this site, collect user information, and to verify route completion. You don't need to be a member of our <a href="https://www.strava.com/clubs/1089586" target="_blank">Strava Club</a>, but it's a great place to see what going on.</p>
</article>

<article>
    <h4>When is it?</h4>
    <p>The Series will run from February through November 2024. You'll have until the end of the November to complete the
        routes. Overall prizes will be announced in December 2024, however route submission prizes will be handed out soon after they're awarded. Let's have a party!</p>
</article>

<article>
    <h4>What Are the Routes?</h4>
    <p>For 2024 we are focusing on roads less traveled. While a few of these routes are right under your noses, the others
        are in areas you may have never explored and will require a bit of travel. Each of the rides are in great spots to spend the day, or weekend. Take a trip and get a few rides in at other spots nearby. You can check out our Ridewithgps account for ideas, or ask fellow members on the Strava Group. The goal is to get folks out to areas that see much less traffic than the classic routes, but are well worth the adventure (in our opinion). Most of the routes will start and end at the same location to make logistics easier. Although loops are great, we decided to add more out-and-back routes this year in order to utilize these great roads. Because we love all types of cycling, the routes will cover a range of terrain - from road rides, gravel roads, to single-track mountain bike trails - the route descriptions will guide bike choice. To see the selected routes in detail, please visit the <a href="/bikeroutes">Routes page</a>.</p>
</article>

<article>
    <h4>How Does the Series Work?</h4>
    <p>Simple! Ride a route (recorded on Strava), sign in to the <a href="/login">RAC website</a>, then submit your ride using the Submit form on your Dashboard. All of your completed routes will be listed in your Dashboard, and the leaderboard will show all participants and scores. Want to see how you rank in your category, use the filter on the leaderboard page. For full details please visit the <a href="/guidelines">Guidelines page</a>.</p>
</article>