

    {{!-- <h2>Welcome {{user.displayName}}</h2> --}}
    <h2>About the Adventure Series</h2>
    <section class="opener">
         <p>Welcome to the 2023 Redwood Adventure Cycling (RAC) Adventure Series. What is the Adventure Series you ask? It is a curated, self-guided cycling series for those seeking adventure along the trails and roads less traveled in and around Humboldt County, California. The Adventure Series allows you to ride amazing routes at your leisure, take beautiful photos, collect points, and win prizes! And the best part - it's completely free to participate.</p>   
    </section>

    <article>
        <img class="pretty-images" src="/images/lavendar.jpg" alt="Cyclist riding up dirt road with Lupin in the foreground" />
        <h4>Who Can Participate?</h4>
        <p>Anyone! The only obligation is you must have a Strava account (free account is fine) which will be used to log into this site, collect user information, and to verify route completion.</p>
    </article>

    <article>
        <h4>When is it?</h4>
        <p>The Series will run from February to November 2023. You'll have until the end of the November to complete the routes. Prizes will be announced and distributed in December 2023.</p>
    </article>
    
    <article>
        <h4>What Are the Routes?</h4>
        <p>For 2023 we are focusing on hidden gems. Some of these routes are right under your noses, while others may be in areas you've hopefully never explored. While most of the routes will be local to Humboldt County, some will require a little travel. The goal is to get folks out to areas that see much less traffic than the classics, but are well worth the adventure (in our opinion). While not all routes will be complete loops, most will consist of rides that start and end at the same location without much overlap. Because we love all types of cycling, the routes will cover a range of terrain - from road rides, gravel roads, to single-track mountain bike trails. The Routes will be released sometime in January. To see the selected routes in detail, please visit the <a href="/bikeroutes">Routes page</a>.</p>
    </article>

    <article>
        <h4>How Does the Series Work?</h4>
        <p>Simple! Ride a route (recorded on Strava), sign in to the website, then submit your ride information using the Submit form. All of your completed rides will be listed in your dashboard, and the leaderboard will show participants and scores. For full details please visit the <a href="/guidelines">Guidelines page</a>.</p>
    </article>