<h2>About the 2025 Adventure Series</h2>
{{!-- open class not being used  --}}
<section class="opener">
    <p>What is the Adventure Series? It is
        a curated, self-guided cycling series for those seeking adventure along the trails and roads less traveled in
        and around Humboldt County, California. The Adventure Series allows you to ride amazing routes at your leisure,
        learn about the area, take beautiful photos, collect points, and win prizes! And the best part - it's completely free.</p>
</section>

<article>
    <img class="pretty-images" src="/images/Kneeland_crew.jpg"
        alt="Cyclists riding up paved road with fields in the background" />
    <h4>Who Can Participate?</h4>
    <p>Anyone with a bike and sense of adventure! The only requirement is you must have a Strava account (free account is fine) which will be used to log
        into this site, collect user information, and to verify route completion. You don't need to be a member of our <a href="https://www.strava.com/clubs/1089586" target="_blank">Strava Club</a>, but it's a great place to get series updates, connect with fellow riders, and join group rides.</p>
</article>

<article>
    <h4>When is it?</h4>
    <p>The Series will run from February through November 2025. You'll have until the end of November to complete the
        routes. Overall series prizes will be announced in December 2025. Route-submission prizes will be awarded throughout the series. Let's have a party!</p>
</article>

<article>
    <h4>What Are the Routes?</h4>
    <p>
        For 2025 we're changing things up a bit. Rather than requiring full routes to be ridden, there are 15 Strava segments in which you, the adventurer, must create routes for. For each route, the minimum distance is simply the distance of the segment chosen. However, points will be calculated based on your ride length and elevation gained -- the longer the ride and the more elevation climbed, the more points awarded. As usual, many of the segments will be in Humboldt, but a few will take a little more traveling to get to. We still want to get folks out exploring. Because we love all types of cycling, the segments will cover a range of terrain - from road, gravel, to single-track mountain bike trails. If you're having difficulty coming up with creative routes for the segments, be sure to check out our <a href="https://ridewithgps.com/users/5525439" target="_blank">Ridewithgps </a>account for ideas, chat up folks on the <a href="https://www.strava.com/clubs/redwoodadventurecycling" target="_blank">Strava Group </a>, or <a href="mailto:info@redwoodadventurecycling.com">Email</a> us.
    </p>
</article>

<article>
    <h4>How Does the Series Work?</h4>
    <p>Simple! Ride a segment (recorded on Strava), sign in to the <a href="/login">RAC website</a>, then submit your ride using the Submit form on your Dashboard. All of your completed routes will be listed in your Dashboard, and the leaderboard will show all participants and scores. Want to see how you rank in your category, use the filter on the leaderboard page. For full details please visit the <a href="/guidelines">Guidelines page</a>.</p>
</article>