<h2>Bike Routes - 2025</h2>

{{!-- If routes exist for the given year, process maps. --}}
{{#if segmentData}}
    {{#each segmentData}}
        {{> segmentPartial}}
    {{/each}}
{{else if routeData}}
    {{#each routeData}}
        {{> routePartial}}
    {{/each}}
{{/if}}

<script src="/javascript/description.js"></script>
