<h2>Point Calculator</h2>

<section class="opener">
    <p>Use this calculator to quickly determine points for a ride. This is helpful when planning a route, you know the approximate mileage and elevation of a ride and want to know the amount of points it would earn. Simply enter the estimated miles and elevation to calculate the points. </p>
</section>

<article>
    <div class="calculate-points-container">
        <div class="form-container">
            <h4>Points Calculator</h4>
            <form id="rideForm">
                <div>
                    <div class="error">
                    <label for="mileage">Miles:</label>
                    <span id="miles-error" class="type-error inactive">Please enter a number</span>
                    </div>
                    <input type="number" id="mileage" name="mileage" placeholder="Enter miles" required>
                </div>
                <div>
                    <div class="error">
                    <label for="elevation">Elevation Gain (ft):</label>
                    <span id="elev-error" class="type-error inactive">Please enter a number</span>
                    </div>
                    <input type="number" id="elevation" name="elevation" placeholder="Enter elevation" required>
                </div>
                <div>
                    <button type="button" onclick="calculatePoints()">Calculate Points</button>
                </div>
            </form>

        </div>
        {{!-- <div class="results-container"> --}}
        <div id="ride-points-container" class="form-container inactive">
        <h4>Ride Points</h4>
            <div id="results"></div>
        </div>
    </div>
   
</article>

<script src="/javascript/calculator.js"></script>