<form class="create-route">
    <div>
        <label for="ridewithgps-id">RideWithGPS Route Id:</label>
        <input type="text" id="ridewithgps-id">
    </div>    
    
    <div>
        <label for="year">Route Year:</label>
        <input type="text" id="year">
    </div>
    {{!-- <div>
        <label for="points">Route Points:</label>
        <input type="text" id="points">
    </div>
    <div>
        <label for="map">Map Name:</label>
        <input type="text" id="map">
    </div> --}}

    <div>
        <button type="submit">Create Route</button>
    </div>
    <img src="https://ridewithgps.com/routes/full/41552966.png" />
</form>

<script src="/javascript/create-route.js"></script>