<form class="create-route">
    <div>
        <label for="ridewithgps-id">RideWithGPS Route Id:</label>
        <input type="text" id="ridewithgps-id" pattern="\d{8}" required>
    </div>

    <div>
        <label for="year">Route Year:</label>
        <input type="text" id="year" pattern="\d{4}" required>
    </div>

    <div>
        <button type="submit">Create Route</button>
    </div>
</form>

<script src="/javascript/create-route.js"></script>