<div class="form-container">
    <H2>Your Dashboard</H2>
    <h3>Submit a Route</h3>
    <form class="route-form">
        <div><label for="cars">Choose a route:</label>
            <select name="route-name" id="route-name">
                <option value="{{name}}">{{name}}</option>
                <option value="{{name}}">{{name}}</option>
            </select>
        </div>
        <div>
            <label for="route-date-completed">Date Completed:</label>
            <input type="date" min="today" max="2021-12-31">
        </div>
        <div>
            <label for="route-ride-time">Ride Time:</label>
            <input type="date" min="today" max="2021-12-31">
        </div>
        <div>
            <label for="route-time">Ride Time:</label>
            <input type="time" class="timepicker">
        </div>
        <div>
            <button type="submit">signup</button>
        </div>
    </form>
    <script src="/javascript/dashboard.js">
</div >