<article>
    <h2>
        Series Guidelines
    </h2>
    <img class="pretty-images" src="/images/hill.jpg" alt="hill" />
    <p>
        To complete a route, you can start and end at any location you prefer, as long as you complete the entire route. The <a href="/bikeroutes">bikes routes</a> page gives recommendations for starting locations. The route can also be a portion of a longer ride, as long as the route is completely fulfilled in your ride.
    </p>
    <p>
        Duration of your ride is the one-way elapsed time from start to finish of the loop. Although there are currently no time bonuses, we may implement them at a later date. We understand some folks like to hammer, and it’s always fun watching your impressive times, so there will more than likely be some time award.
    </p>
    <p>
        These are ride-at-your-own-risk routes. Please be safe out there, obey all traffic rules, and most of all have
        fun!
    </p>
    
    <h4>
        Record Keeping
    </h4>

    <p>
        After completing a route, submit your ride information through your dashboard page for verification. All rides
        must be verified through Strava, no exceptions. You will need to copy the web address of your Strava activity, and paste it into the submission form. If your ride consisted of more than the official mapped route, only submit the time to complete the route you are submitting. This is possible by selecting the route portion of the ride in the analysis tab and using the time given. 
    </p>
    
    <h4>
        Points
    </h4>
    
    <p>
        <b>Completion of Route</b>: Each route is assigned different points for completion, as
        described on the <a href="/bikeroutes">Routes</a> page.
    </p>
    <p>
        <b>1st Spinner</b>: The first finisher of each route will receive +5 points (awarded for both
        gender categories). If you’re with a group, be sure to sprint to the finish to get the bonus!
    </p>
    <p>
        <b>Time Bonus</b>: None at this time, but stay tuned...
    </p>
    
    <h4>
        Awards
    </h4>
    
    <p>
        Prizes for both W/T/F (women/trans/femme) and Male categories will be earned as follows:
    </p>
    
    <ul class="normal">
        <li>
            First to complete all ten routes
        </li>
        <li>
            Most points at the end of 2021
        </li>
    </ul>
    
    <p>
        Each prize will be a $50 gift certificate to a local bike shop, among other prizes.
    </p>

</article>