<h2>
    2025 Adventure Series Guidelines
</h2>

{{!-- Rules --}}
<article>
    <img class="pretty-images" src="/images/sun_flare.jpg" alt="hill" />
    <h4>
        Rules of the Peloton
    </h4>
    <p>
        To complete a segment, you may start and end at any location you prefer, as long as you include the Strava segment. Keep in mind Strava segments are directional so your ride must traverse the segment in the correct direction. If you're confident you rode the segment, but it doesn't appear in your ridden segments list don't fret. We understand GPS signals and Strava segments can be finicky sometimes, so as long as the segment was ridden you will get credit for the ride. There's also a chance the segment could be hidden in your segments list. Check out this information for more details. 
    </p>

    <p>
        This is a ride-at-your-own-risk adventure series. By logging-in and submitting a ride you agree to waive all
        liability for injuries that may occur. Please be safe out there, obey all traffic rules, and most of all have
        fun!
    </p>
    <p>
        This is a cycling adventure series, all rides must be completed on a bicycle. To keep things fair, e-bikes will
        not be allowed. If there is enough interest, e-bikes may be included in the future.
    </p>
</article>

{{!-- Record Keeping --}}
<article>
    <h4>
        Record Keeping
    </h4>
    <p>
        After completing a segment, submit your ride through your dashboard page for verification (you must be logged-in).
        Follow the instructions on the "Submit Your Ride" form. To make route submissions easy, choose a Strava ride from the drop-down. IMPORTANT -- in order to submit a ride it must be one of your last five Strava activities, activities further than five rides will not be shown. If you wish to submit a ride older than five activities please contact us and we will try to accommodate. All rides must be verified through your submitted Strava ride, no exceptions. Rides must be set to public on Strava in order to be verified. All submitted rides will be shown on your dashboard, and verified rides will be included on the leaderboard page. Be sure to join the RAC Strava Group so other group members can see your rides!
    </p>
</article>

{{!-- Route Scoring --}}
<article>
    <h4>
        Ride Difficulty / Scoring
    </h4>
    <p>
        Ride difficulty is a subjective topic, so we are using a moderately simple method for point calculation. Based
        on our experience, an average ride for fit cyclists in Humboldt is about 1,000 feet of elevation for every 10 miles, or 100 feet of elevation per mile. Although this is generally higher than most areas, it's pretty typical in Humboldt and used as middle of the road for scoring. Additionally, raw miles and elevation are used to help score the final points of your rides. Although we understand that other factors such as road surface, placement of climbs, wind, etc. can greatly affect the difficulty of the rides, those factors are more difficult to calculate. The following tables explain how each ride is scored, but please use these as a general guide to the difficulty. Some people will find these easier or more difficult than the rating given.
        
    </p>
    {{!-- Route Points Tables --}}
    <div id="route-points">
        <table class="two-column">
            <tr>
                <th>Mileage</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>&#60; 25</td>
                <td>10</td>
            </tr>
            <tr>
                <td>25-50</td>
                <td>20</td>
            </tr>
            <tr>
                <td>50-75</td>
                <td>30</td>
            </tr>
            <tr>
                <td>75-100</td>
                <td>40</td>
            </tr>
            <tr>
                <td>&#62; 100</td>
                <td>50</td>
            </tr>
        </table>
        <table class="two-column">
            <tr>
                <th>Elevation (ft.)</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>&#60; 2,000</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2,000-4,000</td>
                <td>20</td>
            </tr>
            <tr>
                <td>4,000-7,000</td>
                <td>30</td>
            </tr>
            <tr>
                <td>7,000-10,000</td>
                <td>40</td>
            </tr>
            <tr>
                <td>&#62; 10,000</td>
                <td>50</td>
            </tr>
        </table>
                <table class="two-column">
            <tr>
                <th>Ratio (feet/mile)</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>&#60;= 40</td>
                <td>10</td>
            </tr>
            <tr>
                <td>41-80</td>
                <td>20</td>
            </tr>
            <tr>
                <td>81-120</td>
                <td>30</td>
            </tr>
            <tr>
                <td>121-160</td>
                <td>40</td>
            </tr>
            <tr>
                <td>&#62; 160</td>
                <td>50</td>
            </tr>
        </table>
        <table class="two-column">
            <tr>
                <th>Overall Points</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>&#60;= 40</td>
                <td>Easy</td>
            </tr>
            <tr>
                <td>50-70</td>
                <td>Moderate</td>
            </tr>
            <tr>
                <td>80-100</td>
                <td>Difficult</td>
            </tr>
            <tr>
                <td>110-120</td>
                <td>Very Difficult</td>
            </tr>
            <tr>
                <td>&#62; 130</td>
                <td>Epic</td>
            </tr>
        </table>
    </div>
</article>

{{!-- Points --}}
<article>
    <h4>
        Points
    </h4>

    <p>
        <b>Segment Completion</b>: Each ride is assigned a total point value as described above. Segment details can be
        viewed on the <a href="/bikeroutes"> Bike Routes</a> page.
    </p>
    <p>
        <b>Attackers</b>: The first, second and third finishers of each segment will receive +5, +3, and +1 bonus points respectively (awarded for both gender categories). Important, this is based on submission date not ride date so be sure to submit your ride soon after completion to maximize points. The leaderboard page shows attacker points awarded; use these points to strategize total overall points.
    </p>
    <p>
        <b>Time Bonus</b>: There are no time bonuses for the regular Adventure Series, however we will occasionally host Strava Segment challenges for prizes. Join our Strava Group to be informed when these happen.
    </p>
</article>

{{!-- Awards --}}
<article>
    <h4>
        Awards
    </h4>
    <p>Anyone who completes at least one verified ride will be entered into a drawing for other prizes!</p>

    <p>
        Prizes for both W/T/F (women/trans/femme) and Male categories will be earned as follows:
    </p>

    <ul class="normal">
        <li>1st to complete all segments -?????</li>
        <li>1st Place Points - $100 Gift Certificate </li>
        <li>2nd Place Points - $75 Gift Certificate</li>
        <li>3rd Place points - $50 Gift Certificate</li>
    </ul>

    <p>Other prizes (non-category) every 10th ride submitted:</p>
    <ul class="normal">
        <li>1st to submit a ride - </li>
        <li>10th ride submitted - </li>
        <li>20th ride submitted - </li>
        <li>30th ride submitted - </li>
        <li>40th ride submitted - </li>
        <li>50th ride submitted - </li>
        <li>60th ride submitted - </li>
        <li>70th ride submitted - </li>
        <li>80th ride submitted - </li>
        <li>90th ride submitted - </li>
        <li>100th ride submitted - </li>
        <li>110th ride submitted - </li>
        <li>120th ride submitted - </li>
        <li>Photo Contest (Best Submitted Photo) - </li>
    </ul>
</article>