
    <h2>
        2023 Adventure Series Guidelines
    </h2>
   
    
    <article>
         <img class="pretty-images" src="/images/bolan_switchback.jpg" alt="hill" />
        <h4>
            Rules of the Peloton
        </h4>
        <p>
            To complete a route, you can start and end at any location you prefer, as long as you ride the entire route. The <a href="/bikeroutes">bikes routes</a> page gives recommendations for starting/ending locations. The route can also be a portion of a longer ride, as long as the route is completely fulfilled in your ride.
        </p>
        
        <p>
            This is a ride-at-your-own-risk adventure series. By logging-in and submitting a ride you agree to waive all liability for injuries that may occur. Please be safe out there, obey all traffic rules, and most of all have fun! 
        </p>
        <p>
            This is a cycling adventure series, all rides must be completed on a bicycle. To keep things fair, e-bikes will not be allowed. If there is enough interest e-bikes may be included in the future.
        </p>
    </article>
    
    <article>
        <h4>
            Record Keeping
        </h4>
        <p>
            After completing a route, submit your ride through your dashboard page for verification (you must be logged-in). Follow the instructions on the submission form. All rides must be verified through your submitted Strava link, no exceptions. Rides must be set to public in order to be verified. All submitted rides will be shown on your dashboard, and successfully verified rides will be included on the leaderboard page.
        </p>
        <p>
            If your ride consisted of more than the official mapped route, please only submit the time to complete the route you are submitting (best guess is ok). Duration of your ride is the elapsed time from start to finish of the route. Although there are currently no time bonuses, we may implement time prizes at a later date. We understand some folks like to hammer, and it's always fun watching your impressive times, so there will more than likely be some time award.
        </p>
    </article>
    
    <article>
        <h4>
            Route Difficulty / Scoring
        </h4>
        <p>
            Route difficulty is a subjective topic, so we are using a moderately simple method for point calculation. Based on our experience an average ride for fit cyclists in Humboldt is about 1,000 feet of elevation for every 10 miles which is the basis for the score. The Route difficulty score is then calculated using the total elevation gain divided by the total mileage - a 1,000 foot, 10 mile climb would then have a difficulty score of 100. Of course, total mileage, elevation, wind, where climbs occur in the route, etc. can greatly influence the difficulty of the ride. Therefore, total route points are calculated as follows:
        </p>
        {{!-- Route Points Tables --}}
        <div id="route-points">
            <table class="two-column">
                <tr>
                    <th>Difficulty Score</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>&#60; 50</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>50-100</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>100-125</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>125-150</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>&#62; 150</td>
                    <td>50</td>
                </tr>
            </table>
            <table class="two-column">
                <tr>
                    <th>Mileage</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>&#60; 25</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>25-50</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>50-75</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>75-100</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>&#62; 100</td>
                    <td>25</td>
                </tr>
            </table>
            <table class="two-column">
                <tr>
                    <th>Elevation (ft.)</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>&#60; 2,000</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2,000-4,000</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>4,000-8,000</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>8,000-10,000</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>&#62; 10,000</td>
                    <td>25</td>
                </tr>
            </table>
            <table class="two-column">
                <tr>
                <th>Overall Points</th>
                <th>Description</th>
                </tr>
                <tr>
                    <td>&#60; 35</td>
                    <td>Easy</td>
                </tr>
                <tr>
                    <td>35-50</td>
                    <td>Moderate</td>
                </tr>
                <tr>
                    <td>50-65</td>
                    <td>Difficult</td>
                </tr>
                <tr>
                    <td>65-80</td>
                    <td>Very Difficult</td>
                </tr>
                <tr>
                    <td>&#62; 80</td>
                    <td>Epic</td>
                </tr>
            </table>
        </div>
    </article>
    
    <article>
        <h4>
            Points
        </h4>
        
        <p>
            <b>Route Completion</b>: Each route is assigned a point value as described above. Specific route points can be seen on the <a href="/bikeroutes"> Bike Routes</a> page.
        </p>
        <p>
            <b>Attackers</b>: The first, second and third finishers of each route will receive +5, +3, and +1 points respectively (awarded for both
            gender categories). Important - this is based on submission date not ride date so be sure to submit your route soon after completion. 
        </p>
        <p>
            <b>Time Bonus</b>: TBD?
        </p>
    </article>
    
    <article>
        <h4>
            Awards
        </h4>
        
        <p>
            Prizes for both W/T/F (women/trans/femme) and Male categories will be earned as follows:
        </p>
    
        <ul class="normal">
            <li>1st to complete all routes - Bell Helmet</li>
            <li>1st Place Points - $75 Gift Certificate </li>
            <li>2nd Place Points - $50 Gift Certificate</li>
            <li>3rd Place points - $25 Gift Certificate</li>
        </ul>

        <p>Other prizes:</p>
        <ul class="normal">
            <li>1st to submit a ride - MiiR 16oz Stainless Steel Flip Traveler</li>
            <li>20th ride submitted - MiiR 12oz Stainless Steel Flip Traveler</li>
            <li>50th ride submitted - Bontrager Driftless Edition Frame Bag</li>
            <li>Anyone who completes at least one verified ride will be entered into a drawing for other prizes!</li>
        </ul>
    </article>