<h2>Humboldt Composite Mountain Bike Club (HCMBT)</h2>
<section>
    <h4>11 Questions with Errin Odell</h4>
    Coming Soon...!
    {{!--
    <ol class="questions">
        <li>Can you introduce yourself and share a bit about where you’re originally from?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <img class="pretty-images" src="/images/bikepacking.jpg"
        alt="Cyclists riding up paved road with fields in the background" />
        
        <li>What brought you to Humboldt, and how long have you been here?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>When did you first get into cycling, and what sparked your interest?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>What type of cycling first drew you in—road, time trials, mountain biking? Was there a specific moment or experience that solidified your passion?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>Has your cycling focus evolved over time? Do you have a current favorite bike or setup?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>Tell us about Humboldt Composite Mountain Bike Club (HCMTB). What inspired you to get involved, and how did it all begin?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>

        <img class="pretty-images" src="/images/TishTang1999.jpeg"
        alt="Cyclists riding up paved road with fields in the background" />
        
        <li>What kind of feedback has HCMTB received from the community? What have been some of the biggest challenges along the way?
        </li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>How much time do you invest in HCMTB, and where do you see the club heading in the future?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>Looking back, is there anything you would have done differently in shaping the development of HCMTB?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
        
        <li>In what ways do you think HCMTB has impacted or shaped the cycling culture in Humboldt?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
       
        <li>What is your all-time favorite ride in Humboldt, and what makes it so special to you?</li>
        <ul class="custom-icon">
            <li><p></p></li>
        </ul>
    </ol>
    --}}
</section>