<h2>Humboldt Composite Mountain Bike Club (HCMTB)</h2>
<section>
    <h4>11 Questions with Errin Odell</h4>

    <ol class="questions">
        <li>Can you introduce yourself and share a bit about where you’re originally from?</li>
        <ul class="custom-icon">
            <li>
                <p>I grew up in Weaverville. Both my parents were school teachers. We spent our summers traveling and
                    camping in our little tent trailer. I spent the rest of my time hunting, fishing, hiking, and riding
                    my mountain bike.
                </p>
            </li>
        </ul>

        <img class="pretty-images" src="/images/odell_desert.jpg"
            alt="Cyclist holding wood in the desert surrounded by cactus." />

        <li>What brought you to Humboldt, and how long have you been here?</li>
        <ul class="custom-icon">
            <li>
                <p>I moved to Humboldt in the late 90s to finish my college education. I originally went to Sacramento
                    state but found I didn’t like living in the city. It’s really difficult to do anything meaningful
                    outdoors. After I moved to Humboldt I took up windsurfing white water kayaking, before circling back
                    to biking.
                </p>
            </li>
        </ul>

        <li>When did you first get into cycling, and what sparked your interest?</li>
        <ul class="custom-icon">
            <li>
                <p>I remember spending a lot of my summer time during my elementary school days riding my BMX bike on
                    the mining ditches and skid roads. Then as the trails became more developed, I switched to a fully
                    rigid mountain bike during my high school years (80’s).
                </p>
            </li>
        </ul>

        <li>What type of cycling first drew you in—road, time trials, mountain biking? Was there a specific moment or
            experience that solidified your passion?</li>
        <ul class="custom-icon">
            <li>
                <p>I started cycling seriously when I met Michael Davies Hughes. We set a goal to break 6 hours in the
                    TUC 10 years in a row. We achieved 7 sub 6 times and a couple sub 5:30. </p>
            </li>
        </ul>

        <li>Has your cycling focus evolved over time? Do you have a current favorite bike or setup?</li>
        <ul class="custom-icon">
            <li>
                <p>After the TUC shut down as a serious race and I realized I had peaked as a road cyclist, I turned my
                    attention to mountain biking. There are endless opportunities to improve mountain biking skills. It
                    is not fully dependent on your VO2 max or FTP. This allowed me to continue to grow as a cyclist. For
                    a while I was focused on 100 mile mountain bike races until I peaked at that. Now that I am older
                    and even slower, I just find longer races. The Tour Divide is my next goal. My favorite bike right
                    now is my tour bike. I LOVE bike packing!!!</p>
            </li>
        </ul>

        <li>Tell us about Humboldt Composite Mountain Bike Club (HCMTB). What inspired you to get involved, and how did
            it all begin?</li>
        <ul class="custom-icon">
            <li>
                <p>I got involved in 2016 when my daughter expressed an interest in joining the team. She took racing
                    seriously and had a couple good seasons. I learned a lot about coaching kids through her and just
                    didn’t see a reason to stop. Especially when my wife got involved. It’s just what we do.
                </p>
            </li>
        </ul>

        <img class="pretty-images" src="/images/odell_ecuador.jpg"
            alt="Cyclists standing in front of building in Ecuador with their bikes." />

        <li>What kind of feedback has HCMTB received from the community? What have been some of the biggest challenges
            along the way?
        </li>
        <ul class="custom-icon">
            <li>
                <p>The feedback from this community has been inspirational and unrelenting support for our kids. We
                    can’t thank the community enough!! There have been some difficult times along the way. The logistics
                    of travel and keeping the team bikes working has been constant. However, I am doing this so I can
                    grow as a person. So, without the challenges It wouldn’t be worth doing.
                </p>
            </li>
        </ul>

        <li>How much time do you invest in HCMTB, and where do you see the club heading in the future?</li>
        <ul class="custom-icon">
            <li>
                <p>We spend about 6 hours a week riding with the kids. When the race season comes we spend every other
                    weekend traveling and racing. Brenda spends a lot of time with the logistics too. Probably 5 hours a
                    week.
                </p>
            </li>
        </ul>

        <li>Looking back, is there anything you would have done differently in shaping the development of HCMTB?</li>
        <ul class="custom-icon">
            <li>
                <p> I have no regrets about my time with HCMTB. Everything that hasn't happened according to plan has
                    been an opportunity to grow and improve the team. The recruitment is something we are constantly
                    working on and in my opinion is my weakness.
                </p>
            </li>
        </ul>

        <li>In what ways do you think HCMTB has impacted or shaped the cycling culture in Humboldt?</li>
        <ul class="custom-icon">
            <li>
                <p>I’m not really sure about this. Everyone has their own view of the team depending on how they fit
                    into the cycling community. However, the team has given some people a reason to come together and
                    support our kids. For example, we are hosting a gravel event that has a dual purpose. One is to
                    support kids and the other is to get people out there and ride our world class gravel roads.
                </p>
            </li>
        </ul>

        <li>What is your all-time favorite ride in Humboldt, and what makes it so special to you?</li>
        <ul class="custom-icon">
            <li>
                <p>My favorite ride is from my house to Somes Bar. I like to leave at dark and plan it so I am at the
                    top of a mountain somewhere when the sun comes. It is about 100 miles and 17,00 feet of climbing. In
                    this span you pass through redwoods, mixed forests, oak woodlands, and grass prairies. I get to see
                    some of the greatest ecological diversity on the planet and spend a little time alone. I just let my
                    mind wander and solve all the world’s problems..haha.
                </p>
            </li>
        </ul>
    </ol>

</section>