<div class="welcome-container">
    <h2>Welcome {{user.displayName}}</h2>
    {{!-- not sure if users without an avatar will have a profile address. if not may want to change this to user.profile_medium --}}
    {{#if user}}
    <img class="avatar" src={{user.profile_medium}} alt="Avatar"/>
    {{/if}}
</div>

{{!-- <section class="opener">
    <p>Two roads diverged in a yellow wood,
    And sorry I could not travel both
    And be one traveler, long I stood
    And looked down one as far as I could
    To where it bent in the undergrowth;

    Then took the other, as just as fair,
    And having perhaps the better claim,
    Because it was grassy and wanted wear;
    Though as for that the passing there
    Had worn them really about the same,

    And both that morning equally lay
    In leaves no step had trodden black.
    Oh, I kept the first for another day!
    Yet knowing how way leads on to way,
    I doubted if I should ever come back.

    I shall be telling this with a sigh
    Somewhere ages and ages hence:
    Two roads diverged in a wood, and I—
    I took the one less traveled by,
    And that has made all the difference.
    -Robert Frost
    </p>
    <p>Welcome to Redwood Adventure Cycling, your source for North-coast adventure cycling.</p>
</section> --}}

<section class="opener">
<p>Have ever you heard of the Land of Beyond,
    That dreams at the gates of the day?
Alluring it lies at the skirts of the skies,
    And ever so far away;
Alluring it calls: O ye the yoke galls,
    And ye of the trail overfond,
With saddle and pack, by paddle and track,
    Let's go to the Land of Beyond!
</p>
<p>
Have ever you stood where the silences brood,
    And vast the horizons begin,
At the dawn of the day to behold far away
    The goal you would strive for and win?
Yet ah! in the night when you gain to the height,
    With the vast pool of heaven star-spawned,
Afar and agleam, like a valley of dream,
    Still mocks you a Land of Beyond.
</p>
<p>
Thank God! there is always a Land of Beyond
    For us who are true to the trail;
A vision to seek, a beckoning peak,
    A farness that never will fail;
A pride in our soul that mocks at a goal,
    A manhood that irks at a bond,
And try how we will, unattainable still,
    Behold it, our Land of Beyond! -- Robert W Service
</p>
<p>Welcome to Redwood Adventure Cycling, your source for North-coast adventure cycling.</p>
</section>

<article>
    <div>
        <img class="pretty-images" src="/images/two_bikes_ocean.jpg"
            alt="Two bikes leaned against a log on the beach near the ocean" />
    </div>
    <h4>What we do</h4>
    <ul>
        <li><a href="/about">Adventure Bike Series</a></li>
        <li>Adventure Bike Routes (coming soon!)</li>
        <li>Bike Tools/Calculators (coming soon!)</li>
    </ul>

    <p>
        Starting in 2023 we began hosting an annual adventure cycling series with a unique theme-ish each year. We are also developing information and maps for adventure cycling routes for bike packing, endurance rides, and local classics, helping organize and host rides and races, and just generally stoked on the cycling community.  Check us out on <a href="https://www.strava.com/clubs/redwoodadventurecycling" target="_blank">Strava</a>, <a href="https://ridewithgps.com/users/5525439" target="_blank">Ride With GPS</a>, and <a href="https://www.instagram.com/redwoodadventurecycling/" target="_blank">Instagram</a>. If you have any general questions, inquiries, or issues with the website please shoot us an <a href="mailto:info@redwoodadventurecycling.com">Email</a>. We update our Strava Club page often so that is the best place to check out what's going on.
    </p>

</article>