<h2>Welcome {{user.displayName}}</h2>
<section class="opener">
    <p>Adventure Base Miles. Sometimes hammering but never opposed to the cafe stop. Situations where 28c just doesn't
        cut it. Roads closed. Hopping gates. Hardpack, singletrack, gravel, pavement, goatpath and janky forest
        connector. Exploring the back roads of the NW one ride at a time. -OMTM</p>
    <p>Welcome to Redwood Adventure Cycling, your source for North-coast adventure cycling information.</p>
</section>

<article>
    <div>
        <img class="pretty-images" src="/images/showers_pass_lupine.jpg"
            alt="Cyclist riding up dirt road with Lupin in the foreground" />
    </div>
    <h4>What we do</h4>
    <ul>
        <li><a href="/about">Adventure Bike Series</a></li>
        <li>Adventure Bike Routes (coming soon!)</li>
        <li>Bike Tools/Calculators (coming soon!)</li>
    </ul>

    <p>
        Starting in 2023 we will begin hosting a yearly adventure cycling series with a unique theme each year. We are
        also developing information and maps for adventure cycling routes for bike packing, endurance rides, and local
        classics. Check us out on <a href="https://www.strava.com/clubs/redwoodadventurecycling">Strava</a>, <a href="https://ridewithgps.com/users/5525439">Ride With GPS</a>, and <a href="https://www.instagram.com/redwoodadventurecycling/">Instagram</a>. If you have any general questions, inquiries, or issues with the website please shoot us an <a href="mailto:info@redwoodadventurecycling.com">Email</a>. 
    </p>

</article>