<article>

    <h2>Welcome {{user.displayName}}</h2>
    <p>Welcome to the 2021 Redwood Adventure Series. What is the Adventure     Series you ask? It is a curated, self-guided cycling series for those seeking adventure along the roads and trails less traveled in and around Humboldt County, California. The Adventure Series allows you to ride amazing routes at your leisure, take beautiful photos, collect points, and win prizes! </p>

    <img class="pretty-images" src="/images/lavendar.jpg" alt="Cyclist riding up dirt road with Lupin in the foreground" />
    
    <h4 class="home">Who Can Participate?</h4>
    <p>Anyone! You must have a Strava account (free account is fine) with your activity logged for submission.</p>
    
    <h4 class="home">When is it?</h4>
    <p>The Series will run through 2021, ending on December 31, 2021. You’ll have until the end of the year to complete the routes. Prizes will be distributed in January 2022.</p>
    
    <h4 class="home">What Are the Routes?</h4>
    <p>For 2021 we are focusing on loops. While not all routes will be complete loops, most will consist of rides that start and end at the same location without much overlap. Because we love all types of cycling, the routes will cover a range of terrain - from road rides, gravel roads, and single-track mountain bike trails. To see the selected routes in detail, please visit the <a href="/bikeroutes">Routes page</a>.

    <h4 class="home">How Does the Series Work?</h4>
    <p>Simple! Ride a route (recorded on Strava), sign in to the website, then submit your ride information including a link to your Strava activity. All of your rides will be listed in your dashboard. For full Adventure Series details please visit the <a href="/guidelines">Guidelines page</a>.</p>

</article>