<article>

    <h2>Welcome {{user.displayName}}</h2>
    <p id="welcome-paragraph">Welcome to the North Coast Adventure Series. What is the North Coast Adventure Series you ask. We are
        a curated,
        self-guided cycling series for those seeking
        adventure along the roads and trails less traveled in and around Humboldt County, California. The
        Adventure
        Series allows you to ride the routes at your leisure, take beautiful photos, and win prizes!</p>

    <img class="pretty-images" src="/images/lavendar.jpg" alt="Bike route" />
    <h4 class="home">Who Can Participate?</h4>

    <p>Anyone! You must have a Strava account (free account is fine) with your activity logged for
        submission.</p>
    <h4 class="home">When?</h4>

    <p>The Series will run through 2021, ending on December 31, 2021. You’ll have the entire year to
        complete the
        routes.</p>
    <h4 class="home">What Are the Routes?</h4>
    <p>For 2021 we are focusing on loop routes. While not all routes will be complete loops, most will
        consist of rides
        that start and end at the same location without much overlap. Because we love all types of cycling,
        the routes
        will
        cover all types of terrain from road rides, gravel roads, and single-track mountain bike trails. To
        see the
        selected
        routes in detail, please visit the <a href="/bikeroutes">Routes page</a>.

    <h4 class="home">How Does the Series Work?</h4>

    <p>Simple! Ride a route, sign in to the website, submit your ride information, win prizes! Once the ride
        is verified
        you see it listed in your dashboard. For full Adventure Series details please visit the <a
            href="/guidelines">guidelines page</a>.</p>
</article>