<article>

    <h2>Welcome {{user.displayName}}</h2>
    <p>Welcome to Redwood Adventure Cycling, your source for North-coast adventure cycling information.</p>

    <img class="pretty-images" src="/images/lavendar.jpg" alt="Cyclist riding up dirt road with Lupin in the foreground" />
    
    <h4 class="home">What we do</h4>
    <ul>
        <li>Adventure Bike Routes (coming soon!)</li>
        <li><a href="/about">Adventure Bike Series</a></li>
        <li>Bike Tools/Calculators (coming soon!)</li>
    </ul>
    

</article>