<h2>Login with Strava</h2>

<div class="strava">

    <p>A Strava account is required to access portions of this site and to submit your rides. You will need to authorize
        permission for this site to access your Strava public profile and activity data on your first time logging in. No private data will be shared.</p>
    <div>
        <a href="/login/strava"><img src="/images/strava.png" alt="Strava Logo" class="strava-logo"></a>
    </div>

</div>