<h2>Login with Strava</h2>

<div class="strava">

    <p>A Strava account is required to access portions of this site and to submit your rides. You will need to grant
        permission on your first time logging in. </p>
    <div>
        <a href="/login/strava"><img src="/images/strava.png" alt="Strava Logo" class="strava-logo"></a>
    </div>

</div>