<div class="form-container">
    {{!-- <H2>Login</H2> --}}
    
    {{!-- <form class="login-form">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form><br> --}}
    {{!-- <h3>OR</h3>
    <h2>Sign up</h2> --}}
    <h3>Login with Strava</h3>
    <p>A Strava account is required to access portions of this site and to submit your rides. You will need to grant permission on your first time logging in. </p>
    <a href="/login/strava"><img src="/images/strava.png"></a>
    {{!-- <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
        </div>
        <div>
            <button type="submit">signup</button>
        </div>
    </form> --}}
    <!-- Don't forget <script src="/javascript/login.js"></script> and <script src="/javascript/signup.js"></script> -->
</div>