<div class="form-container">

    <h3>Login with Strava</h3>
    <p>A Strava account is required to access portions of this site and to submit your rides. You will need to grant permission on your first time logging in. </p>
    <a href="/login/strava"><img src="/images/strava.png"></a>

</div>