<h2>Mountain Bike Tribal Trail Alliance</h2>
<section>
    <h4>11 Questions with Shaun Fyfe</h4>
    <ol class="questions">
        <li>Who are you and where are you originally from?</li>
        <ul class="custom-icon">
            <li>
                <p>Shaun Fyfe, husband to Brandi Fyfe, community member, veteran, dog dad, mountain biker and cyclist,
                    team rider for Adventures Edge, Specialized Bikes ambassador, NorCal(CA temp.) lead SOS, Founder of
                    MBTTA, Board member Humboldt Skatepark Collective(HSC), McKinleyville Chamber of Commerce ambassador
                    and nice guy who likes bikes and friendly folks. Born in East LA, High School and College in the
                    NorCal valley.
                </p>
            </li>
        </ul>

        <img class="pretty-images" src="images/crash_fyfe1.jpg" alt="Shaun Fyfe jumping on mountain bike" />

        <li>How long have you been here and what brought you to Humboldt?</li>
        <ul class="custom-icon">
            <li>
                <p>20yrs in Jan! We moved here after graduating college and accepting employment with the Department of
                    Homeland Security/USCG at Air Station Humboldt Bay Aeronautical Engineering, managing Aviation
                    Ground Support Equipment/Fueling Mechanical Operations and Laboratory requirements.</p>
            </li>
        </ul>

        <li>How old and where were you when you caught the cycling bug?</li>
        <ul class="custom-icon">
            <li>
                <p>In 2005, my first day on the job with the USCG, the station commander welcomed me to Humboldt, said
                    the area is fun if you enjoy outdoor adventures. I was already an avid hiker, so he suggested
                    extending my range on a mountain bike. He then gave me a book, “Mountain Biking Northern
                    California's Best 100 Trails”, which I still have. I then went to Adventures Edge and bought two
                    Specialized bikes for me and Brandi to play on.</p>
            </li>
        </ul>

        <li>What type of cycling first sparked your interest? Roadie? Time Trial Maniac? MTB Shredder? Do you have any
            memorable experiences that solidified your passion?</li>
        <ul class="custom-icon">
            <li>
                <p>MTB, DH!! I immediately found that bikes that were meant for pedaling could not support aggressive DH
                    riding or riders that had football player builds who also wanted to ride fast. After breaking
                    everything off of my mighty starter bikes, I started to visit DH bike parks that had even faster
                    speeds and bigger, professionally built features. After a couple seasons of renting demo DH bikes at
                    the park and realizing the capabilities of these machines if you are a rider who can ride at that
                    level, I purchased my first DH bike. Over many years, the MTB scene has progressed to where we are
                    now, where riders can purchase an aggressive Enduro bike that can pedal well and almost match the
                    performance of a DH specific machine. Progression is great!</p>
            </li>
        </ul>

        <li>Has that changed? What's your favorite bike you are currently riding?</li>
        <ul class="custom-icon">
            <li>
                <p>DH is still my thing, but now I appreciate all types of cycling. My gravel bike is so freaking fast
                    and is such a great way to build fitness!</p>
            </li>
        </ul>

        <li>Tell us a bit about Mountain Bike Tribal Trail Alliance (MBTTA) and Soldiers on Singletrack (SOS). What
            inspired you get involved, and when did it begin?</li>
        <ul class="custom-icon">
            <li>
                <p>MBTTA began its partnership with Two Feathers NAFS and The Warriors Institute as a program of
                    Humboldt Skatepark Collective(HSC) Jan 2024. SOS NorCal was launched in 2023 from what used to be my
                    VetsOnBikes program that I started while with another organization. I however care
                    only about helping those in need since I understand lack of access to resources and recreation
                    intimately. I am a disabled veteran and grew up in extreme poverty. Now that I am financially
                    secure, I am very passionate about sharing our beautiful area and our trails with humans who need
                    these experiences most. The mental and physical health benefits of riding bikes regularly are life
                    changing. Community access and outdoor therapy for everyone.
                </p>
            </li>
        </ul>

        <img class="pretty-images" src="images/crash_fyfe2.jpg" alt="Shaun Fyfe on Gravel Bike" />

        <li>What sort of feedback have you received from cyclists regarding MBTTA and SOS? What have been the biggest
            challenges?
        </li>
        <ul class="custom-icon">
            <li>
                <p>We fulfill a need that was missing in our area. High levels of stoke! It is challenging having so
                    many other organizations and individuals wanting to collaborate with us that we don't have the
                    ability to do everything yet. We are building our teams everyday and the talent we are bringing on
                    is making more and more possible.
                </p>
            </li>
        </ul>

        <li>How much time have you invested in MBTTA and SOS, and how much time do you currently spend on its
            growth in Humboldt?</li>
        <ul class="custom-icon">
            <li>
                <p>If I'm not riding, I'm growing these organizations!</p>
            </li>
        </ul>

        <li>How do you believe MBTTA and SOS has influenced or shaped cycling in Humboldt?</li>
        <ul class="custom-icon">
            <li>
                <p>We are here to enhance what our community has been building all along and continue to contribute as
                    needed.</p>
            </li>
        </ul>

        <li>Where do you see MBTTA and SOS going from here? What is your personal vision and goals for MBTTA and SOS in
            the next few years?</li>
        <ul class="custom-icon">
            <li>
                <p>Both of these organizations will be here growing our programs and services for our community.</p>
            </li>
        </ul>

        <li>What is your favorite Humboldt ride, and why does it hold a special place for you?</li>
        <ul class="custom-icon">
            <li>
                <p>There is no such thing for me. My favorite Humboldt ride changes daily. I know so many places to
                    ride, maybe almost every place large and small, far and near. Knowing everywhere that is worth
                    putting wheels on is fun. My favorite ride is an organic feeling I have, not a place I can show
                    another rider. I'm always in pursuit of my favorite ride. I have had many epic rides with many epic
                    people, and loved it all. I believe my favorite ride is still in my future. I will continue to ride
                    in many places with many people. Maybe, this season as MBTTA builds additional miles of trail into
                    the Humboldt trail systems with our partners, and I ride with native youth, fellow veterans and
                    community riders, I might experience my favorite ride.</p>
            </li>
        </ul>

    </ol>
</section>