<h2>North Coast Bike Rides</h2>
<section>
    <h4>11 Questions with Jim Robbins</h4>
    <ol class="questions">
        <li>Who are you and where are you originally from?</li>
        <ul class="custom-icon">
            <li><p>I’m Jim Robbins and I grew up in Morro Bay, California. I have lived in Humboldt County over half my life
            though.</p></li>
        </ul>
        
        <img class="pretty-images" src="/images/bikepacking.jpg"
        alt="Cyclists riding up paved road with fields in the background" />
        
        <li>How long have you been here and what brought you to Humboldt?</li>
        <ul class="custom-icon">
            <li><p>I came to Humboldt County in 1991 to attend Humboldt State University where I earned a B.S. in Forestry.</p></li>
        </ul>
        
        <li>How old and where were you when you caught the cycling bug (not as a child)?</li>
        <ul class="custom-icon">
            <li><p>I caught the mountain biking bug at the age of 28 in Humboldt County, but it really solidified when I moved
            to Corvallis, Oregon in 1998 to attend Graduate School at OSU. The McDonald Research Forest had a huge maze
            of trails that I could access right from my front door.</p></li>
        </ul>
        
        <li>What type of cycling first sparked your interest? Roadie? Time Trial Maniac? MTB Shredder? Do you have any
            memorable experiences that solidified your passion?</li>
        <ul class="custom-icon">
            <li><p>I can blame Humboldt legend John Dostal for introducing me to mountain biking. He pioneered a network of
            trails out in Willow Creek and was the event director for the Tish Tang Tangle, which was a XC mountain bike
            race. We went on to be early members of the Bigfoot Bicycle Club.</p></li>
        </ul>
        
        <li>Has that changed? What’s your favorite bike you’re currently riding?</li>
        <ul class="custom-icon">
            <li><p>I don’t like to be labeled as any type of rider because I mountain bike, road ride, explore gravel, fat bike
            on the beach, and love bikepacking and touring. My favorite bike is my Specialized Crux and my favorite ride
            is any new-to-me gravel route.</p></li>
        </ul>
        
        <li>Tell us a bit about Northcoast Bike Rides (NCBR). What inspired you to start it, and when did it begin?</li>
        <ul class="custom-icon">
            <li><p>I started my blog in about 2007 while I was heavily involved with the Bigfoot Bicycle Club, where I spent a
            couple years as President. The blog has always been a way to document and advertise the best local (legal)
            rides. It started in a time before good GPS navigation and routes. Remember a good old paper route sheet?</p></li>
        </ul>

        <img class="pretty-images" src="/images/TishTang1999.jpeg"
        alt="Cyclists riding up paved road with fields in the background" />
        
        <li>What sort of feedback have you received from cyclists regarding NCBR? What have been the biggest challenges?
        </li>
        <ul class="custom-icon">
            <li><p>I have really enjoyed getting emails from visitors to the area who have used one of my routes or who are
            looking for local advice. There haven’t been any significant challenges.</p></li>
        </ul>
        
        <li>How much time have you invested in developing NCBR, and how much time do you currently spend on its
            development?</li>
        <ul class="custom-icon">
            <li><p>The blog was created during the heyday of blogging and my time working on it has declined significantly.
            However, I have recently been updating some of the better rides with RideWithGPS routes. I also added a few
            routes in Del Norte County.</p></li>
        </ul>
        
        <li>If you could do things differently, what changes would you make, considering the development of NCBR?</li>
        <ul class="custom-icon">
            <li><p>I wouldn’t change a thing. I have always had to balance personal life, career, and riding for myself.</p></li>
        </ul>
        
        <li>How do you believe NCBR has influenced or shaped cycling in Humboldt?</li>
        <ul class="custom-icon">
            <li><p>During the early years of the Banana Slug ride series, I made paper routes for each ride based on my blog
            routes. The Banana Slugs were started by me to provide a monthly group ride for the bike club. It was
            modeled after the Grasshopper Adventure Series in Sonoma County. I’m so happy to see the Redwood Coast
            Mountain Bike Association continue the tradition.</p></li>
        </ul>
       
        <li>What is your favorite Humboldt ride, and why does it hold a special place for you?</li>
        <ul class="custom-icon">
            <li><p>It is hard to pick one specific ride, but I would have to say the Tour of the Unknown Coast. It’s a beautiful and challenging ride. I went super deep into the competitive side of the ride between 2007-2012, even finishing the double in 2010. My second blog is<a href="http://tucscrapbook.blogspot.com/" target="_blank"> TUCscrapbook</a> where I documented each year of the tour adding newspaper clippings and local articles. It’s a fun read and provides the history of the TUC from 1977 to 2012.</p></li>
        </ul>

    </ol>
</section>