<h2>Admin Route Utilities</h2>

<section>
    <div id="admin-container">
        <div class="create-route-container">
            <h4>Create Route</h4>
            <form class="create-route">
                <div>
                    <label for="ridewithgps-id">RideWithGPS Route ID</label>
                    <input type="text" id="ridewithgps-id" pattern="\d{8}" required>
                </div>

                <div>
                    <label for="year">Route Year</label>
                    <input type="text" id="year" pattern="\d{4}" required>
                </div>

                <div class="center">
                    <button type="submit">CREATE ROUTE</button>
                </div>
            </form>
        </div>

        <div class="route-update-container">
            <h4>Update RWGPS Route</h4>
            <form class="update-route">
                <div>
                    <label for="route-name">Route Name</label>
                    <select required name="route-name" id="route_id">
                        <option value="" disabled selected>Routes...</option>
                        {{#each routes as |routes|}}
                        <option value="{{routes.id}}">{{routes.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="center">
                    <button type="submit">UPDATE ROUTE</button>
                </div>
            </form>
        </div>
        
        <div class="create-segment-container">
            <h4>Create Segment</h4>
            <form class="create-segment">
                <div>
                    <label for="segmentId">Strava Segment ID</label>
                    <input type="text" id="segmentId" pattern="\d{7,8}" required>
                </div>

                <div>
                    <label for="year">Segment Year</label>
                    <input type="text" id="segYear" pattern="\d{4}" required>
                </div>

                <div>
                    <label for="description">Segment Description</label>
                    <textarea id="segDesc" required></textarea>
                </div>

                <div class="center">
                    <button type="submit">CREATE SEGMENT</button>
                </div>
            </form>
        </div>

    </div>{{!-- End admin-container --}}

</section>

        {{!-- Create Route Success modal --}}
        <div id="createRouteModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Route Created</h4><span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Route Successfully Created!
                    </p>
                </div>
            </div>
        </div>
        
        {{!-- Update Route Success modal --}}
        <div id="updateRouteModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Route Updated</h4><span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Route Successfully Updated with Ride With GPS data!
                    </p>
                </div>
            </div>
        </div>

        {{!-- Create Segment Success modal --}}
        <div id="createSegmentModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Strava Segment Added</h4><span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Segment Successfully Added!
                    </p>
                </div>
            </div>
        </div>

<script src="/javascript/modal.js"></script>
<script src="/javascript/create-route.js"></script>
<script src="/javascript/update-route.js"></script>
<script src="/javascript/create-segment.js"></script>