<article>
    <h2>
        2023 Adventure Series Sponsors
    </h2>
    <p>
        This Adventure Series is free to participate, but it's definitely not free to run. It takes a lot time and money to build the site, curate routes, approve rides, pay for web hosting space, etc. Most of this comes straight out of our pockets because it's a passion project we care about. So, if it wasn't for the folks listed on this page, this series would be a lot less exciting. Of course we don't need "prizes" to get on our bike, but it sure does sweeten the deal. Please support those listed below, and thank them for their generous contributions.
    </p>
</article>

<article class="sponsor">
    <div class="sponsor-logo">
        <img src="/images/bell_cropped.svg" alt="Bell Logo" />
    </div>
    <div class="sponsor-text">
    <p>
        Bell Helmets has graciously contributed helmets for the Adventure Series. We all know our helmets are probably a little older than they should be. Go adventure and you could be the lucky winner of a brand spankin' new Bell Helmet. 
    </p>
    </div>
</article>

<article class="sponsor">
    <div class="sponsor-text">
    <p>
        We all know how much Adventure's Edge gives to this community, and they've been generous enough to extend some love this way as well. Show some love back and visit Adventure's Edge in both Arcata and Eureka. 
    </p>
    </div>
    <div class="sponsor-logo">
        <img src="/images/Adventures-Edge-Logo.jpg" alt="Adventures Edge Logo" />
    </div>
</article>

<article class="sponsor">
   <div class="sponsor-logo">
     <img src="/images/Revolution_FINAL_WEB_BLACK_TEXT_Horiz.jpg" alt="Revolution Cycles Logo" />
   </div>
   <div class="sponsor-text">
    <p>
        It's rare not to see Revo's name on a local cycling event, and this isn't any different. They've happily donated to the cause and we'll be collaborating as part of the series. Stay tuned. 
    </p>
    </div>
</article>