<h2>
    {{year}} Adventure Series Sponsors
</h2>

<section class="opener">
    <p>
        The Adventure Series is free to participate in, but it’s not free to run. Building this site, curating routes,
        verifying rides, and covering web hosting costs require both time and money. Most of it comes straight out of
        our pockets because this is a passion project we deeply care about.

        That’s why we’re incredibly grateful to the sponsors listed below. Their support helps make this series even
        more exciting. Sure, we don’t need prizes to get on our bikes—but they sure do sweeten the deal!

        Please support these amazing companies and thank them for their generous contributions.
    </p>
</section>

{{!-- <article class="spons">
    <div class="spons-logo">
        <img src="/images/bell_cropped.svg" alt="Bell Logo" />
    </div>
    <div class="spons-text">
        <p>
            Bell Helmets has again graciously offered to contribute helmets for the Adventure Series for 2024. We all
            know our helmets are
            probably a little older than they should be, so go adventure and you could be the lucky winner of a brand
            spankin' new <a href="https://www.bellhelmets.com/bike/" target="_blank">Bell Helmet</a> worth up to $250.
        </p>
    </div>
</article> --}}

<article class="spons">
    <div class="spons-text">
        <p>
            We all know how much Adventure's Edge gives to this community, and they've been generous enough to extend
            some love this way again in 2024. Show some love back and visit Adventure's Edge in both <a
                href="https://www.adventuresedge.com/" target="_blank">Arcata</a> and <a
                href="https://www.adventuresedge.com/" target="_blank">Eureka</a>. They have a huge supply of outdoor
            gear for water sports, trail sports, and of course bikes!
        </p>
    </div>
    <div class="spons-logo">
        <img src="/images/Adventures-Edge-Logo.jpg" alt="Adventures Edge Logo" />
    </div>
</article>

<article class="spons">
    <div class="spons-logo">
        <img src="/images/Revolution_FINAL_WEB_BLACK_TEXT_Horiz.jpg" alt="Revolution Cycles Logo" />
    </div>
    <div class="spons-text">
        <p>
            It's rare not to see Revo's name on a local cycling event, and this series isn't any different. They've
            happily
            donated to the cause again in 2024 with some superior swag. Check them out in Henderson Center <a
                href="https://www.revolutionbicycle.com/" target="_blank">Eureka</a> and Northtown <a
                href="https://www.revolutionbicycle.com/" target="_blank">Arcata</a> for great biking gear to supply
            your adventures. Be sure to tell them RAC sent you!
        </p>
    </div>
</article>

{{!-- <article class="spons">
    <div class="spons-text">
        <p>
            FBJ creations is a new sponsor for 2024. They make incredible bike bags for your adventure needs made from
            an assortment of material such as dyneema, x-pac, waxed canvas and cordura. They have a ton of pre-made
            items but also take custom orders from their <a href="https://www.fbjcreations.com/"
                target="_blank">website</a>. If you're looking for bike storage options, these guys are local and legit.
        </p>
    </div>
    <div class="spons-logo">
        <img src="/images/fbj_logo.webp" alt="FBJ Creations Logo" />
    </div>
</article> --}}

{{!-- <article class="spons">
    <div class="spons-logo">
        <img src="/images/Dick_Taylor.png" alt="Dick Taylor Logo" />
    </div>
    <div class="spons-text">
        <p>
            <a href="https://dicktaylorchocolate.com/" target="_blank">Dick Taylor Craft Chocolate</a> is also a new
            sponsor for 2024. Not only do these guys make incredible music, woodworking, and boat building, they make
            chocolate that will melt your mind. They take the concept of a raw tree to boat as inspiration in their
            approach to chocolate making. Starting with the highest quality raw cacao from fairly-traded sources, they
            develop some of the finest chocolate products in-house by transforming the raw ingredients into delicious
            products for your soul.
        </p>
    </div>
</article> --}}