:root {
  --primary-color: #ffeb68;
  --secondary-color:#86e2ef;
  --tertiary-color: rgb(255, 255, 255);
  --quad-color: #011740;
  --sixth-color: #e3e3e3;
  --seventh-color: #1d75ce;
  --eight-color: #043e9e;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/* Basic styling */
html{
  /* Controls nav scroll points */
  height: 70%;
}

body {
  background-color: var(--quad-color);
  color: black;
  font-family: 'Montserrat','Roboto', Arial, Helvetica, sans-serif;
}

/********** HEADER STYLES **********/
header {
  height:80px;
  background-color: hsla(219, 97%, 13%, 0.7);
  width: 100%;
  /* not sure about this - there is no background */
  /* background-attachment: fixed; */
  /* box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.5); */
  top: 0; /*need this for sticky */
  position: sticky;
  position: -webkit-sticky;
  z-index: 9995;
  display: flex;
  justify-content: center;
}

/************ NAV MENU **************/
nav {
width: 70%;
z-index: 9996;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1rem;
color: white;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  }

  .menu li a , .menu button {
    margin: 10px;
    color: white;
    font-weight:normal;
  }

  .menu button {
    padding: 0;
    font-size: 1rem;
    background: none;
  }

  .menu li a:hover, .menu button:hover {
    color: var(--secondary-color);
  }

  .menu button:hover {
    background: none;
  }

  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }

/* disable .submenu before click */
.has-submenu .submenu {
  display: none;
  list-style-type: none;
}

/* enable .submenu after click */
.submenu-active .submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  border-radius: 3%;
  background-color: var(--quad-color);
  /* background-color: hsla(219, 97%, 13%, 0.7); */
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.49);
  padding-top: 15px;
}

.submenu-active .submenu li {
  margin: 0px 10px 15px 10px;
}

/* Turn hamburger display off for desktop*/
.toggle {
  display: none;
}

/* --------- HERO styles --------- */
.hero {
  background-image: url("../images/big_hill.jpg");
  min-height: 300px;
  width: 95%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9994;
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid #011740;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#site-logo {
  width: 40%;
  text-align: center;
  position: relative;
  left: 100px;
}

#site-logo h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}
/* --------- End HERO styles --------- */

/* --------- MAIN styles --------- */
p {
  font-size: 1.0rem;
  line-height:1.5rem;
  color: var(--quad-color);
  margin: 6px 5px;
}

h1 {
  font-size: 4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  color: var(--primary-color);
  letter-spacing: .5rem;
  font-weight: normal;
}

h2 {
  color: var(--quad-color);
  font-size: 3rem;
  margin-bottom: .5rem;
  text-align:center;
  font-weight: normal;
}

h3 {
  color: var(--quad-color);
  font-size: 2rem; 
  line-height: 1.1rem;
  margin-bottom: .25rem;
  text-align:center;
  border: 1px solid red;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0 10px 5px;
}

a {
  color: var(--eight-color);
  text-decoration: none;
}

a:hover {
  color: var(--seventh-color);
}

article ul {
  padding: 10px;
}

li {
  list-style-position: inside;
  margin: 5px;
}

main {
  background-color: var(--sixth-color);
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 3rem 1rem 3rem;
  z-index: 9993;
}

article {
  overflow: auto;
}

.form-container {
  margin: auto;
  width: 400px;
}

form {
  text-align:left;
  display: block;
}

.login-form .signup-form {
  padding: 10px;
}

textarea, input, select {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width:100%;
  margin-bottom: 10px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #fa4568;
}

textarea {
  width: 90%;
  min-height: 200px;
  font-size: 15px;
}

label {
  margin-bottom: 0px;
  margin-left: 2px;
}

button {
  background-color: var(--quad-color);
  border: 0;
  padding: 5px;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color:#86e2ef;
  color: #043e9e;
}

/* The container  what is the container? */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid greenyellow;
}

/*
*
* ==========================================
* CUSTOM CHECK BOX
* ==========================================
*/

div.checkbox label {
  display: flex;
  align-items: center;
}

div.checkbox input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/* * ==========================================
* SPONSOR STYLES
* ========================================== */

.sponsor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border:solid 2px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
}

.sponsor img {
  width: 250px;
  padding: 10px;
}

/* ============================================
* ROUTE POINT TABLES / GUIDELINES
* ========================================== */
#route-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#route-points table {
  table-layout: auto;
  width: auto;
  margin: 10px;
  border-collapse: collapse;
}

#route-points .three-column {
  flex-grow: 2;
}

#route-points .two-column {
  flex-grow: 1;
}

#route-points th {
  height: 1.8rem;
  font-weight: 600;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid gray;
  background-color: #41403E;
  color: white;
}

#route-points td {
  padding: 4px 10px;
}

#route-points table tr:nth-child(odd) {
  background-color: rgb(200, 200, 200);
}


/* ============================================
* CUSTOM UTIL CLASSES FOR IMAGE UPLOAD
* ========================================== */

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

div.image-area.mt-4 {
  margin-bottom: 10px !important;
  padding:20px;
}

/*
*
* ==========================================
*  LAYOUT FOR BIKE ROUTES 
* ==========================================
*
*/
article.bike-route {
  display: flex;
  width: 80%;
  margin: 20px auto;
  background-color: #abdbe3;
  border-radius: 8px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 10px 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bike-route-title {
  flex-basis: 100%;
}

.bike-route-table {
  flex-basis: 50%;
  margin: 0px 5px 10px;
}

.bike-route-table table, td {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.bike-route-table td {
  vertical-align: middle;
  padding: 7px 6px;
}

.bike-route-table tr:hover {
  background-color: rgb(200, 200, 200);
}

.bike-route-image {
  height: 171px;
  margin: 0px 5px 10px;
}

.bike-route-image img {
  height: 100%;
}

/* * ==========================================
* GRID TABLE COMPLETED
* ========================================== */

.grid-container-completed {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  padding: 0;
}

.grid-container-completed > div {
  text-align: left;
  padding: 5px 0;
}

.completed-data {
  padding: 3px 0;
}

/* * ==========================================
* ADMIN TABLE
* ========================================== */

.table-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.table-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.admin-table-header {
  font-weight: bold;

}
.leader-left {
text-align:left;
}

.leader-right {
text-align:right;
}


/* * ==========================================
* LEADER TABLE
* ========================================== */

.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.leader-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.leader-table-header {
  font-weight: bold;

}
.leader-left {
  text-align:left;
}

.leader-right {
  text-align:right;
}

table.leaderboard {
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-collapse: collapse;
}

table.leaderboard th {
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
  background-color: rgb(220, 220, 220);
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td {
  padding: 8px 5px;
  text-align: center;
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td.points {
  font-weight: bold;
}

table.leaderboard tr:nth-child(even) {
  background-color:  #f9f9f9;
}

table.leaderboard tr:hover {
  background-color:#C4E3F3;
}

/* * ==========================================
* PRETTIFY
* ========================================== */

.routes-image {
  height: 10em;
  width: 10em;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.pretty-images {
  height: 250px;
  padding:10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  /* position: relative; */
  /* display: block; */
}

.reg-image {
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

ul.normal {
  padding-left: 60px;
  padding-bottom: 10px;
  color: var(--quad-color);
  line-height:1.5em;
}
li.normal {
  color: var(--quad-color);
}

ul.no-dot {
  list-style-type: none;
}

/* MOBILE RESPONSIVE MEDIA QUERIES */

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  div.hero {
    min-height: 205px;
  }
  div#site-logo h1 {
    font-size: 3em;
  }
  main {
    padding: 2em 3em 1em 3em;
  }

  p {
    font-size: 1.0em; 
    line-height:1.7em;
  }

  article h2 {
    font-size: 2.2em;
  }

  img.pretty-images {
    height: 222px;
    padding: 7px;
    display: block;
  }
  article p {
    margin-bottom: .33em;
  }
  img.reg-image {
    width: 300px;
  }

  ul.normal li {
    font-size: 1.0em; 
    line-height:1.3em;
    color: var(--quad-color);
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 780px) {

  p {
    font-size: .85em; 
    line-height:1.5em;
  }

  div.hero {
    min-height: 170px;
  }
  div#site-logo h1 {
    font-size: 2.2em;
  }
  main {
    padding: 1em 1.2em 1em 1.2em;
  }
  article h2 {
    font-size: 2em;
  }

  img.pretty-images {
    height: 150px;
    padding: 5px;
  }
  article h4 {
    font-size: 1.5em;
  }

  ul.normal li {
    font-size: .85em; 
    line-height:1.5em;
    color: var(--quad-color);
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  p {
    font-size: .8em; 
    line-height:1.5em;
  }

  div.completed-data, div.bike-data {
    font-size: .75em; 
    line-height: 1.3em;
  }

.grid-container-completed > div {
    padding-top: 2px;
  }

.grid-container h4 {
  margin-bottom: 4px;
}
  
  div.hero {
    min-height: 100px;
  }
  div#site-logo h1 {
    font-size: 1.5em;
  }
  article h2 {
    font-size: 1.5em;
  }

  h4.home {
    font-size:.95em;
    line-height: 1.5em;
  }

  article h4 {
    font-size: 1.0em;
    font-weight: 900;
    line-height: 1.2em;
    padding: 0 0 .3em 0;
  }

  img.routes-image {
  margin-left: 10px;
  }

  main {
    padding: 1em 2.2em 1em 1.2em;
  }
  img.pretty-images {
    height: 77px;
    padding: 3px;
  }
  img.routes-image {
    height: 6em;
    width: 6em;
  }

  div.grid-container {
    margin-left: auto;
    margin-right: auto;
  }

  div.routes-container {
      margin: auto;
      width: 300px; /*Removes extra spacing at smaller widths */
    }

  div.routes-container h4 {
    line-height: 1.2em;
  }

  div.bike-data {
    padding: 3px 0;
  }

  .table-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  .leader-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  /* login page */
  div.form-container {
    width: 100%;
  }

  div.form-container img {
    width: 200px;
  }

div.grid-container {
    width: 300px;
    margin: none;
}  

ul.normal li {
    font-size: .8em; 
    line-height:1.5em;
    color: var(--quad-color);
  }
}

/* MEDIA NAV */
/* Tablet menu */
/* @media all and (min-width: 780px) {

.menu {
  align-items: center;
  justify-content: center;
  background-color:var(--quad-color);
  
}
.logo {
  flex: 1;
}

.item.button {
  width: auto;
  order: 1;
  display: block;
}
.toggle {

  flex: 1;
  text-align: right;
  order: 2;
}
/* Button up from tablet screen */
/* .menu li.button a {
  
  padding: 10px 15px;
  margin: 5px 0;
}

.button a:hover {
  color: #86e2ef;
}
.button.secondary {
  border: 0;
}
.button.secondary a {
  background: transparent;
  border: 1px #0080ff solid;
}
.button a:hover {
  text-decoration: none;
}
.button:not(.secondary) a:hover {
  
  border-color: darkblue;
}
}  */

/* Desktop menu */
/* @media all and (min-width: 980px) {
.menu {
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
}
.logo {
  order: 0;
}
.item {
  order: 1;
  position: relative;
  display: block;
  width: auto;
}
.button {
  order: 2;
}
.submenu-active .submenu {
  
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  line-height: 30px;
  text-align: left;
  border-radius: 3%;
  padding-bottom: 5px;
  padding-left:10px !important;
  background-color: var(--quad-color) !important;
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.49);
}

.toggle {
  display: none;
}
.submenu-active {
  border-radius: 0;
}
} */

/* END MOBILE RESPONSIVE MEDIA QUERIES */
