:root {
  --primary-color: #ffeb68;
  --secondary-color:#86e2ef;
  --tertiary-color: #ffffff;
  --quad-color: #011740;
  --sixth-color: #e3e3e3;
  --seventh-color: #1d75ce;
  --eight-color: #043e9e;
}

* {
  margin:0;
  padding:0;
  box-sizing:0;
}

html{
  height: 70%;
}

body {
  background-color: var(--quad-color);
  color: var(--sexp-color);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 100%;
}

/* NAV STYLES START HERE */
.race-icon {
  height:2.2em;
}

/* Basic styling */
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

header {
  height:80px;
  background-color: var(--quad-color);

  width: 100%;
  background-image: linear-gradient(#011740, #043e9e);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  background-attachment: fixed;
  -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 9995;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

nav {
  /* height:100px; */
background: var(--quad-color);
padding-top: 25px; /* Magic f'ing setting!!! */
width: 70%;
  z-index: 9996;
}

.menu,
.submenu {
list-style-type: none;
}

.item {
padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: var(--secondary-color);
}
/* Mobile menu */
.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
z-index: 9997;
background-color: var(--quad-color);
}

.no-outline {
  outline: 0;
}

.menu li a {
display: inline;
padding: 15px 5px;
color: var(--tertiary-color);
z-index: 9998;
}

.menu li.subitem a {
padding: 5px 5px;
}

.toggle {
order: 1;
font-size: 20px;
}
.item.button {
order: 2;
}
.item {
order: 3;
width: 100%;
text-align: center;
display: none;
}
.active .item {
display: block;
}
.button.secondary {
/* divider between buttons and menu links */
border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
display: none;
}
.submenu-active .submenu {
display: block;
line-height: 30px; 
}

.has-submenu i {
font-size: 12px;
}

.has-submenu > a::after {
font-family: "Font Awesome 5 Free";
font-size: 12px;
line-height: 16px;
font-weight: 900;
content: "\f078";
color: white;
padding-left: 5px;
}

.submenu-active {
padding: 10px;
background-color: #011740;
border-radius: 3px;
}

.btn-no-style {
background: none;
border: none;
padding: 0;
cursor: pointer;
text-decoration: none;
color: var(--tertiary-color);
font-size: 16px;
font-weight: bold;
}
  
.btn-no-style:hover {
background: none;
color: var(--secondary-color);
}

.hero {
  background-image: url("../images/hero1.jpg");
  min-height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9994;
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  border-bottom: 1px solid #011740;
}

h1 {
  font-size: 4em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  color: var(--primary-color);
  letter-spacing: .1em;
}  

#site-logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
}

main {
  background-color: var(--sixth-color);
  max-width: 1050px;
  min-height: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 2em 5em 1em 5em;
  z-index: 9993;
  border-right: 2px dotted grey;
  border-left: 2px dotted grey;      
}

section {
  height: 100%;
  text-align:left;
  /* border: solid red 2px;    */
}

h2 {
  color: var(--quad-color);
  font-size: 3em; 
  line-height: 1.1em;
  margin-bottom: .25em;
  text-align:center;
}

h3 {
  color: var(--quad-color);
  font-size: 2em; 
  line-height: 1.1em;
  margin-bottom: .25em;
  text-align:center;
}

h3.home {
text-align:left;
}

h3.completed {
margin-top: 1em;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.7em;
  margin: 0 0 5px 0;
}

p {
  font-size: 1.0em; 
  line-height:1.7em; 
  color: var(--quad-color);
  margin-bottom: .75em;
}

a {
  color: var(--seventh-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--eight-color);
  font-weight: bold;
}

.form-container {
  margin: auto;
  width: 400px;
  /* border: 3px solid green;*/
}

form {
  text-align:left;
  display: block;
}

.login-form .signup-form {
padding: 10px;
}

textarea, input, select {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width:100%;
  margin-bottom: 10px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #fa4568;
}

textarea {
  width: 90%;
  min-height: 200px;
  font-size: 15px;
}

label {
  margin-bottom: 0px;
  margin-left: 2px;
}

button {
  background-color: var(--quad-color);
  border: 0;
  padding: 5px;
  color: white;
  font-weight: bold;
  /* letter-spacing: .09em; */
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color:#86e2ef;
  color: #043e9e;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
*
* ==========================================
* CUSTOM CHECK BOX
* ==========================================
*/

div.checkbox label {
  display: flex;
  align-items: center;
}

div.checkbox input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES FOR IMAGE UPLOAD
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

div.image-area.mt-4 {
  margin-bottom: 10px !important;
  padding:20px;
}

/*
*
* ==========================================
* GRID LAYOUT FOR BIKE ROUTES 
* ==========================================
*
*/
.routes-container {
  margin: auto;
  width: 80%;
  /* border: 3px solid green;*/
}

.item1 {
   grid-area: header; 

  }
.item2 { 
  grid-area: stats; 

}
.item3 { 
  grid-area: main; 
  text-align: right !important;

}
.item4 { 
  grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'stats stats stats stats stats main'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
  background-color: #abdbe3;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 15px 10px;
  /* display: flex;
  justify-content: center; */
}

.grid-container > div {
  text-align: left;
  /* padding: 5px 0px; */

}

.grid-container h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px; 
}

h2.routes-header {
text-align: center;
}

/* * ==========================================
* GRID TABLE COMPLETED
* ========================================== */

.grid-container-completed {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
}

.grid-container-completed > div {
  text-align: left;
  padding: 5px 0;
}

.completed-data {
  padding: 3px 0;
}

/* * ==========================================
* CSS TABLE ADMIN
* ========================================== */

.table-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  /* padding: 1px; */
border-radius: 10px;
box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.table-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.admin-table-header {
  font-weight: bold;

}
.leader-left {
text-align:left;
}

.leader-right {
text-align:right;
}


/* * ==========================================
* CSS TABLE LEADER
* ========================================== */

.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  /* padding: 1px; */
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.leader-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.leader-table-header {
  font-weight: bold;

}
.leader-left {
text-align:left;
}

.leader-right {
text-align:right;
}

table.leaderboard {
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  background-color: #abdbe3;
  border-collapse: collapse;
}

table.leaderboard th {
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
  background-color: rgb(194, 194, 194);
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td {
  padding: 8px 5px;
  text-align: center;
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td.points {
  font-weight: bold;
}

table.leaderboard tr:nth-child(even) {
  background-color:  #d3d3d3;
}



table.leaderboard tr:hover {
  background-color: #e7e7e7;
}

/* * ==========================================
* PRETTIFY
* ========================================== */

.routes-image {
  height: 10em;
  width: 10em;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.pretty-images {
  height: 250px;
  padding:10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.reg-image {
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

ul.normal {
  padding-left: 60px;
  padding-bottom: 10px;
  color: var(--quad-color);
  line-height:1.5em;
}
li.normal {
  color: var(--quad-color);
}

ul.no-dot {
  list-style-type: none;
}

/* MOBILE RESPONSIVE MEDIA QUERIES */

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  div.hero {
    min-height: 205px;
  }
  div#site-logo h1 {
    font-size: 3em;
  }
  main {
    padding: 2em 3em 1em 3em;
  }

  p {
    font-size: 1.0em; 
    line-height:1.7em;
  }

  article h2 {
    font-size: 2.2em;
  }

  img.pretty-images {
    height: 222px;
    padding: 7px;
  }
  article p {
    margin-bottom: .33em;
  }
  img.reg-image {
    width: 300px;
  }

  ul.normal li {
    font-size: 1.0em; 
    line-height:1.3em;
    color: var(--quad-color);
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 780px) {


  p {
    font-size: .85em; 
    line-height:1.5em;
  }

  div.hero {
    min-height: 170px;
  }
  div#site-logo h1 {
    font-size: 2.2em;
  }
  main {
    padding: 1em 1.2em 1em 1.2em;
  }
  article h2 {
    font-size: 2em;
  }

  img.pretty-images {
    height: 150px;
    padding: 5px;
  }
  article h4 {
    font-size: 1.5em;
  }

  ul.normal li {
    font-size: .85em; 
    line-height:1.5em;
    color: var(--quad-color);
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {


  p {
    font-size: .8em; 
    line-height:1.5em;
  }

  div.completed-data, div.bike-data {
    font-size: .75em; 
    line-height: 1.3em;
  }

  .grid-container-completed > div {
    padding-top: 2px;
  }

.grid-container h4 {
  margin-bottom: 4px;
}

  
  div.hero {
    min-height: 100px;
  }
  div#site-logo h1 {
    font-size: 1.5em;
  }
  article h2 {
    font-size: 1.5em;
  }

  h4.home {
    font-size:.95em;
    line-height: 1.5em;
  }
  /* section h2 {
    font-size: 2.2em;
  } */
  article h4 {
    font-size: 1.0em;
    font-weight: 900;
    line-height: 1.2em;
    padding: 0 0 .3em 0;
  }

  img.routes-image {
  margin-left: 10px;
  }

  main {
    padding: 1em 2.2em 1em 1.2em;
  }
  img.pretty-images {
    height: 77px;
    padding: 3px;
  }
  img.routes-image {
    height: 6em;
    width: 6em;
  }

  div.grid-container {
    margin-left: auto;
    margin-right: auto;
    /* margin: auto;
    width: 80%; */
    /* border: 3px solid green;*/
  }

  div.routes-container {
      margin: auto;
      width: 300px; /*Removes extra spacing at smaller widths */
      /* border: 3px solid green;*/
    }

  div.routes-container h4 {
    line-height: 1.2em;
  }
  div.routes-container p {
    /* line-height: 1.5em; */
  }
  div.bike-data {
    padding: 3px 0;
  }

  .table-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  .leader-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  /* login page */
  div.form-container {
    width: 100%;
  }

  div.form-container img {
    width: 200px;
  }

div.grid-container {
    width: 300px;
    margin: none;

    
}  

ul.normal li {
    font-size: .8em; 
    line-height:1.5em;
    color: var(--quad-color);
  }

}

/* MEDIA NAV */
/* Tablet menu */
@media all and (min-width: 780px) {

.menu {
  align-items: center;
  justify-content: center;
  background-color:var(--quad-color);
  
}
.logo {
  flex: 1;
}

.item.button {
  width: auto;
  order: 1;
  display: block;
}
.toggle {

  flex: 1;
  text-align: right;
  order: 2;
}
/* Button up from tablet screen */
.menu li.button a {
  
  padding: 10px 15px;
  margin: 5px 0;
}

.button a:hover {
  color: #86e2ef;
}
.button.secondary {
  border: 0;
}
.button.secondary a {
  background: transparent;
  border: 1px #0080ff solid;
}
.button a:hover {
  text-decoration: none;
}
.button:not(.secondary) a:hover {
  /* background: royalblue; */
  border-color: darkblue;
}
}
/* Desktop menu */
@media all and (min-width: 980px) {
.menu {
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
}
.logo {
  order: 0;
}
.item {
  order: 1;
  position: relative;
  display: block;
  width: auto;
}
.button {
  order: 2;
}
.submenu-active .submenu {
  width:115px;
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 5px;
  border-radius: 3%;
  padding-left:10px !important; 
  background-color: var(--quad-color) !important;
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.49);
}

.toggle {
  display: none;
}
.submenu-active {
  border-radius: 0;
}
}


/* END MOBILE RESPONSIVE MEDIA QUERIES */








