:root {
  --primary-color: #ffeb68;
  --secondary-color:#86e2ef;
  --tertiary-color: rgb(255, 255, 255);
  --quad-color: #011740;
  --sixth-color: #e3e3e3;
  --seventh-color: #1d75ce;
  --eight-color: #043e9e;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/* Basic styling */
html{
  /* Controls nav scroll points */
  height: 70%;
}

body {
  background-color: var(--quad-color);
  color: black;
  font-family: 'Montserrat','Roboto', Arial, Helvetica, sans-serif;
  height: 100%;
}

/********** HEADER STYLES **********/
header {
  height:80px;
  background-color: hsla(219, 97%, 13%, 0.7);
  width: 100%;
  top: 0; /*need this for sticky */
  position: sticky;
  position: -webkit-sticky;
  z-index: 9995;
  display: flex;
  justify-content: center;
}

/************ NAV MENU **************/
nav {
width: 70%;
z-index: 9996;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1rem;
color: white;
}

.logo-div {
  display: flex;
  justify-content: center;
  max-width: 70px;
  height: 75%;
  text-align: center;
  /* border: 1px solid yellow; */
}

img.logo {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.menu li a, .menu button {
  margin: 10px;
  color: white;
  font-weight:normal;
}

  .menu button {
    padding: 0;
    font-size: 1rem;
    background: none;
  }

  .menu li a:hover, .menu button:hover {
    color: var(--secondary-color);
  }

  .menu button:hover {
    background: none;
  }

  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }

/* disable .submenu before click */
.has-submenu .submenu {
  display: none;
  list-style-type: none;
}

/* enable .submenu after click */
.submenu-active .submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  border-radius: 3%;
  background-color: var(--quad-color);
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.49);
  padding: 10px 0px;
}

.submenu li {
  margin: 4px 10px 4px 10px;
}

.submenu li a {
  margin: 0;
}

/* Turn hamburger display off for desktop*/
.toggle {
  display: none;
}

.toggle a {
  color: white ;
}

/* --------- HERO styles --------- */
.hero {
  background-image: url("../images/big_hill.jpg");
  min-height: 300px;
  width: 95%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9994;
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid #011740;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#site-logo {
  width: 40%;
  text-align: center;
  position: relative;
  left: 100px;
}

#site-logo h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}
/* --------- End HERO styles --------- */

/* --------- MAIN styles --------- */
p {
  font-size: 1.0rem;
  line-height:1.5rem;
  color: var(--quad-color);
  margin: .2rem .0 .3rem 0;
}

h1 {
  font-size: 4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  color: var(--primary-color);
  letter-spacing: .5rem;
  font-weight: normal;
}

h2 {
  color: var(--quad-color);
  font-size: 3rem;
  margin-bottom: .5rem;
  text-align:center;
  font-weight: normal;
}

h3 {
  color: var(--quad-color);
  font-size: 2rem; 
  line-height: 1.1rem;
  margin-bottom: .25rem;
  text-align:center;
  border: 1px solid red;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0 5px 5px;
}

a {
  color: var(--eight-color);
  text-decoration: none;
}

a:hover {
  color: var(--seventh-color);
}

ul.no-dot {
  list-style-type: none;
}

article ul {
  color: var(--quad-color);
  padding: 5px 10px 10px 30px;
  color: var(--quad-color);
  list-style-position: outside;
  line-height:1.5rem;
}

main {
  background-color: var(--sixth-color);
  max-width: 1050px;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem 3rem 1.5rem 3rem;
  z-index: 9993;
}

article {
  overflow: auto;
}

.form-container {
  margin: auto;
  width: 400px;
}

form {
  text-align:left;
  display: block;
}

.login-form .signup-form {
  padding: 10px;
}

textarea, input, select {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width:100%;
  margin-bottom: 10px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #fa4568;
}

textarea {
  width: 90%;
  min-height: 200px;
  font-size: 15px;
}

label {
  margin-bottom: 0px;
  margin-left: 2px;
}

button {
  background-color: var(--quad-color);
  border: 0;
  padding: 5px;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color:#86e2ef;
  color: #043e9e;
}

/* The container  what is the container? */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid greenyellow;
}

/*
* ==========================================
* CUSTOM CHECK BOX
* ==========================================
*/

div.checkbox label {
  display: flex;
  align-items: center;
}

div.checkbox input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/*===========================================
           SPONSOR STYLES
* ========================================== */

.sponsor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border:solid 2px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
}

.sponsor img {
  width: 250px;
  padding: 10px;
}

/* ============================================
* ROUTE POINT TABLES / GUIDELINES
* ========================================== */
#route-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#route-points table {
  table-layout: auto;
  width: auto;
  margin: 10px;
  border-collapse: collapse;
  max-width: 60%;
}

#route-points .three-column {
  flex-grow: 2;
}

#route-points .two-column {
  flex-grow: 1;
}

#route-points th {
  height: 1.8rem;
  font-weight: 600;
  /* margin: 5px; */
  padding: 5px 10px;
  border: 1px solid gray;
  background-color: #41403E;
  color: white;
}

#route-points td {
  padding: 4px 10px;
}

#route-points table tr:nth-child(odd) {
  background-color: rgb(200, 200, 200);
}


/* ============================================
* CUSTOM UTIL CLASSES FOR IMAGE UPLOAD
* ========================================== */

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

div.image-area.mt-4 {
  margin-bottom: 10px !important;
  padding:20px;
}

/*==========================================
*  LAYOUT FOR BIKE ROUTES 
* =========================================*/

article.bike-route {
  display: flex;
  width: 80%;
  margin: 20px auto;
  background-color: #abdbe3;
  border-radius: 8px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 10px 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bike-route-title {
  flex-basis: 100%;
}

.bike-route-table {
  flex-basis: 50%;
  margin: 0px 5px 10px;
}

.bike-route-table table, td {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.bike-route-table td {
  vertical-align: middle;
  padding: 7px 6px;
}

.bike-route-table tr:hover {
  background-color: rgb(200, 200, 200);
}

.bike-route-image {
  height: 171px;
  margin: 0px 5px 10px;
}

.bike-route-image img {
  height: 100%;
}

/*===========================================
* GRID TABLE COMPLETED
* ========================================== */

.grid-container-completed {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  padding: 0;
}

.grid-container-completed > div {
  text-align: left;
  padding: 5px 0;
}

.completed-data {
  padding: 3px 0;
}

/*============================================
* ADMIN TABLE
* ========================================== */

.table-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.table-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.admin-table-header {
  font-weight: bold;

}
.leader-left {
text-align:left;
}

.leader-right {
text-align:right;
}


/*===========================================
         LEADER TABLE
* ========================================== */

.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: #abdbe3;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 0px;
  border: 1px solid #011740;
}

.leader-grid-container > div {
  text-align: center;
  font-size: 1em;
  padding: 10px;
}

.leader-table-header {
  font-weight: bold;

}
.leader-left {
  text-align:left;
}

.leader-right {
  text-align:right;
}

table.leaderboard {
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-collapse: collapse;
}

table.leaderboard th {
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
  background-color: rgb(220, 220, 220);
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td {
  padding: 8px 5px;
  text-align: center;
  border-bottom: 1px solid rgb(117, 117, 117);
}

table.leaderboard td.points {
  font-weight: bold;
}

table.leaderboard tr:nth-child(even) {
  background-color:  #f9f9f9;
}

table.leaderboard tr:hover {
  background-color:#C4E3F3;
}

/*===========================================
        PRETTIFY
* ========================================== */

.routes-image {
  height: 10em;
  width: 10em;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.pretty-images {
  height: 250px;
  padding:10px;
  margin: 10px;
  float: right;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.reg-image {
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

/*===========================================
        MOBILE RESPONSIVE MEDIA QUERIES
* ========================================== */

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER 980-780*/
@media screen and (max-width: 980px) {
  header {
    height: 60px;
  }

  .submenu-active .submenu {
    top: 50px;
  }
  
  .hero {
    min-height: 205px;
  }

  #site-logo {
    width: 40%;
    text-align: center;
    position: relative;
    left: 50px;
  }

  #site-logo h1 {
    font-size: 2.5rem;
  }

  article h2 {
    font-size: 2.2em;
  }

  img.pretty-images {
    height: 222px;
    padding: 7px;
  }

  /* img.reg-image {
    width: 300px;
  } */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER 780-575*/
@media screen and (max-width: 780px) {

  .menu {
    font-size: .85rem;
  }
  
  .hero {
    min-height: 170px;
  }
  #site-logo h1 {
    font-size: 2.2rem;
  }
  main {
    padding: 1rem 1.2rem 1rem 1.2rem;
  }
  article h2 {
    font-size: 2rem;
  }

  img.pretty-images {
    height: 150px;
    padding: 5px;
  }

  p {
    font-size: .85rem; 
    line-height:1.3rem;
  }

  #route-points {
    font-size: .85rem;
  }

  article ul {
    font-size: .85rem;
    line-height: 1.4rem;
  }
  
  ul.normal li {
    font-size: .85rem; 
    line-height:1.4rem;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER <575 */
@media screen and (max-width: 575px) {

  /* Turn on hamburger menu */
  header {
    height: 50px;
  }
  
  nav {
    width: 80%;
  }

  /* Hide menu until hamburger clicked */
  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 10px;
    padding: .5rem;
    background-color: hsla(218, 100%, 13%, 1);
    border-radius: 3%;
  }

  .menu li, .menu button {
    margin: 3px 3px;
    /* border: 1px solid pink; */
  }
  .menu li a {
    margin: 0;
  }

  .menu.active li a{
    /* border: 1px solid blue; */
  }

  .submenu-active .submenu {
    position: static;
    padding: 2px 0 0 0;
    box-shadow: none;
    /* border: 1px solid green; */
  }

  .submenu-active .submenu li{
    /* margin: 3px 3px 3px 3px; */
    /* border: 1px solid yellow; */
  }
  
  .toggle {
    display: block;
  }

  .hero {
    min-height: 100px;
  }

  #site-logo {
    left: 25px;
  }
  #site-logo h1 {
    font-size: 1.3rem;
  }
  
  p {
    font-size: .8rem; 
    line-height:1.4rem;
    margin: 0 .1rem .3rem .1rem;
  }

  div.completed-data, div.bike-data {
    font-size: .75em;
    line-height: 1.3em;
  }

  .grid-container-completed > div {
    padding-top: 2px;
  }

  .grid-container h4 {
  margin-bottom: 4px;
  }

  article h2 {
    font-size: 1.5rem;
  }

  article h4 {
    font-size: 1.0rem;
    font-weight: 900;
    line-height: 1.2rem;
    margin: .6rem .2rem .1rem .2rem;
  }

  img.routes-image {
  margin-left: 10px;
  }

  main {
    padding: 1rem 1.2rem 1rem 1.2rem;
  }

  img.pretty-images {
    height: 77px;
    padding: 3px;
  }

  img.routes-image {
    height: 6em;
    width: 6em;
  }

  div.grid-container {
    margin-left: auto;
    margin-right: auto;
  }

  div.routes-container {
      margin: auto;
      width: 300px; /*Removes extra spacing at smaller widths */
    }

  div.routes-container h4 {
    line-height: 1.2em;
  }

  div.bike-data {
    padding: 3px 0;
  }

  .table-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  .leader-grid-container > div {
    font-size: .75em !important; 
    line-height:1.5em !important;
    padding: 5px;
  }

  /* login page */
  div.form-container {
    width: 100%;
  }

  div.form-container img {
    width: 200px;
  }

  div.grid-container {
    width: 300px;
    margin: none;
  }  

  ul.normal li {
    font-size: .8rem; 
  }

}